.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("~/src/assets/images/background1.jpg");
}

.box {
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 60%;

}

.card {
  width: 50%;
  height: match-parent;
  overflow: hidden;
  opacity: 0.7;
  background-color: black; 
  /* backdrop-filter: blur(10px); */
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

span{
  color: white;
}

label{
  color: white;
}

