.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("~/src/assets/images/background1.jpg");
}

.box {
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 60%;

}

.card {
  width: 50%;
  height: match-parent;
  overflow: hidden;
  border-color: black;
  opacity: 0.7;

}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}