<div class="parent">

    <div class="box">

        <div class="card border rounded p-2">
            <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
                <div class="row g-0">
                    <div class="col text-center p-2 mb-3">
                        <span class="fs-3">First Login Template</span>
                    </div>

                    <div class="row">
                        <div class="col mb-3 form-input">
                            <div style="margin-bottom: 10px;">
                                <label for="Email" class="form-label">Email</label>
                                <input type="text" class="form-control" id="Email" formControlName="email">
                                <div class="form-text text-danger"
                                    *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)">
                                    Email is Required !
                                </div>
                                <div class="form-text text-danger"
                                    *ngIf="Email.errors?.['email'] || Email.errors?.['pattern'] && (Email.touched || Email.dirty)">
                                    Please enter valid Email !
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-3 form-input">
                            <label for="Password" class="form-label">Password</label>
                            <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="Password"
                                formControlName="password" max-length="15">
                            <div class="form-text text-danger"
                                *ngIf="Password.errors?.['required'] && (Password.touched || Password.dirty)">
                                Password is Required !
                            </div>
                            <div style="margin-top: 10px;">
                                <label for="showPass" style="margin-right: 10px;">Show Password</label>
                                <input type="checkbox" (click)="togglePasswordVisibility()" id="showPass">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 offset-3">
                            <div class="d-grid">
                                <button type="submit" [disabled]="loginForm.invalid"
                                    class="btn rounded-pill btn-primary">Login</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>

        </div>

        <div class="card border rounded p-2">def</div>
    </div>

</div>